<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercises</title>
    <link rel="stylesheet" href="/Public/Css/table.css">
    <link rel="stylesheet" href="/Public/Css/standard.css">
    <link rel="stylesheet" href="/Public/Css/light.css">
    <link id="active-stylesheet" href="" rel="stylesheet" type="text/css"/>
</head>
<body class="container">
    


    <div class="content">
        <button><a href="/">Profile Page</a></button><br>
        <button><a href="/logout">Log Out</a></button><br>
        <label for="switch-options">Themes:</label>
        <select id="switch-options">
          <option value="switch-options__light" data-stylesheet="/Public/Css/light.css">Light</option>
          <option value="switch-options__dark" data-stylesheet="/Public/Css/dark.css">Dark</option>
        </select>
        </div><br><br>
        <button id="clear-storage">Clear Storage</button>
        <script src="/Public/JavaScript/switchThemes.js"></script>
    </div>
                                                                                
</body>
</html>