<h1>Login</h1>
<form action="/login" method="post">
  <div class="input-field">
      <input type="email" name="email" id="email" placeholder="Enter E-Mail">
  </div>
  <div class="input-field">
      <input type="password" name="passord" id="passord" placeholder="Enter Password">
  </div>
  <input type="submit" value="LogIn">
  <a href="/signup">Sign Up</a>
</form>