<h1>Sign Up</h1>
<form action="/signup" method="post">
    <div class="input-field">
        <input type="text" name="fornavn" id="fornavn" placeholder="Enter First Name *">
    </div>
    <div class="input">
        <input type="text" name="mellomnavn" id="mellomnavn" placeholder="Enter Middle Name">
    </div>
    <div class="input-field">
        <input type="text" name="etternavn" id="etternavn" placeholder="Enter Last Name *">
    </div>
    <div class="input-field">
        <input type="text" name="email" id="email" placeholder="Enter E-Mail *">
    </div>
    <div class="input-field">
        <input type="password" name="passord" id="passord" placeholder="Enter Password *">
    </div>
    <div class="input-field">
        <input type="number" name="tlf" id="tlf" placeholder="Enter Phone Number">
    </div>
    <div class="input-field">
        <input type="text" name="adresse" id="adresse" placeholder="Enter Address">
    </div>
    <input type="submit" value="SignUp">
    <a href="/login">Log In</a>
</form>